
  
  ngx-datatable .datatable-header {
    font-size: $bmd-table-header-font-size;
    font-weight: 500;

    border-top-width: 0;
    border-bottom-width: $table-border-width;
    
  }

  ngx-datatable .datatable-row-even {
    background-color: #f5f5f5; /* Color gris claro para filas pares */
  }
  
  ngx-datatable .datatable-row-odd {
    background-color: white; /* Color blanco para filas impares */
  }

  ngx-datatable .datatable-body-row .datatable-body-cell {
    padding: 4px 2px; /* Ajusta el espacio vertical */
  }
  
